<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-ui-sref="main.questions" href="#/">
        <span class="glyphicon glyphicon-home"></span> Q/A system
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" data-collapse="vm.isCollapsed">
      <ul class="nav navbar-nav">
        <li data-ui-sref-active="active" class="active">
          <a data-ui-sref="main.questions" href="#/">All question</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="main.questions-without-answers" href="#/questions-without-answers">Without Answer Questions</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="main.answered-questions" href="#/answered-questions"/>Answered Questions</a>
        </li>
        <li data-ui-sref-active="active">
          <a data-ui-sref="main.add-question" href="#/add-question">Add new question</a>
        </li>
      </ul>
    </div>
  </div>
</nav>