.question-item {
    padding-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaebec;
	h3 {
		margin-bottom: .35em;
    	line-height: 1.3;
	}
}
.count-of-answer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    height: auto;
	margin: 0 auto;
    width: 55px;
    padding: 6px;	
    &.answered {
	    background-color: #75845c;
	    color: #fff;
    }
}