<div class="row">
	<div class="container-fluid" data-ng-show="vm.questions.length == 0">
		<h2>There is no questions yet</h2>
		<a data-ui-sref="main.add-question" href="#/add-question">Ask something</a>
	</div>
	<div class="question-item container-fluid" data-ng-repeat="question in vm.questions">
		<div class="col-sm-2">
			<div class="count-of-answer" data-ng-class="{'answered': question.answers.length > 0}">
				<div>{{question.answers.length}}</div>
				<span>answers</span>
			</div>
		</div>
		<div class="col-sm-10">
			<h4 class="question-title"><a href="#" data-ui-sref="main.question-details({'id': question.id})">{{question.title}}</a></h4>
			<div class="item-details pull-right">
				<time class="answer-time">created <strong>{{question.date}}</strong></time>
				<span class="answer-autor">by <strong>{{question.autor}}</strong></span>
			</div>
		</div>
	</div>
</div>