<div class="row">
	<form id="add-question" class="container-fluid" name="addQuestionForm" data-ng-submit="$event.preventDefault(); vm.save()">
		<div class="form-content">
			<fieldset class="form-group">
				<label for="question-title">Question title</label>
				<input type="text" class="form-control" id="question-title" data-ng-model="vm.newQuestion.title" placeholder="Type question title" required>
			</fieldset>
			<fieldset class="form-group">
				<label for="question-description">Question description</label>
				<textarea id="question-description" class="form-control" data-ng-model="vm.newQuestion.description" title="Type description for question here..." placeholder="Type description for question here..." cols="30" rows="10" ></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label for="question-autor">Your name</label>
				<input type="text" class="form-control" id="question-autor" data-ng-model="vm.newQuestion.autor" placeholder="Type your name" required>
			</fieldset>
		</div>
		<div class="control-buttons">
			<input type="submit" class="btn btn-default pull-right" value="Save">
			<input type="submit" class="btn btn-link pull-right" value="cancel">
		</div>
	</form>
</div>  