/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

a {
	color: #0077cc;
	&:hover,
	&:focus {
		color: #3af;
		cursor: pointer;
		text-decoration: none;	
	}
}

.item-details {
	color: #999;
}

h1 {
    padding: 5px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1em;
}
.subheader {
	height: 34px;
    border-bottom: 1px solid #eaebec;
	h2 {
		color: #444;
	    font-size: 18px;
	    font-weight: 400;
	    margin-bottom: 0;
	}
}

.main-content {
	margin-bottom: 10em;	
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
