#question-header {
	margin-bottom: 2em;
}
.question-description {
	font-size: 18px;	
}
.answer-item {
	border-bottom: 1px solid #f0f0f0;
	padding-top: 20px;
	padding-bottom: 20px; 
	}
#answers {
	margin-bottom: 3em;	
}
.form-header {
	h2 {
		font-size: 18px;
		padding-bottom: 1em;
	}	
}