<div class="row">
		
	<div id="question-header" class="container-fluid">
	    <h1 class="question-title">{{vm.question.title}}</h1>
		<p class="question-description">{{vm.question.description}}</p>
	</div>
	
	<div id="answers" class="container-fluid">
		<div id="answer-header" class="subheader">
			<h2><span class="answer-count">{{vm.answers.length}}</span>  Answers</h2>
		</div>
		<div class="answer-item container-fluid" data-ng-repeat="answer in vm.answers">
			<p>{{answer.text}}</p>
			<div class="item-details pull-right">
				<time class="answer-time">answered <strong>{{answer.date}}</strong></time>
				<span class="answer-autor">by <strong>{{answer.autor}}</strong></span>
			</div>
		</div>
	</div>

	<form id="add-answer" class="container-fluid" name="addAnswerForm" data-ng-submit="$event.preventDefault(); vm.postAnswer()">
		<div class="form-header">
			<h2>Leave Your Answer</h2>
		</div>
		<div class="form-content">
			<fieldset class="form-group">
				<label for="answer-autor">Your name</label>
				<input type="text" class="form-control" id="answer-autor" data-ng-model="vm.newAnswer.autor" placeholder="Type your name" required>
			</fieldset>
			<fieldset class="form-group">
				<label for="answer-text">Your answer</label>
				<textarea id="answer-text" class="form-control" data-ng-model="vm.newAnswer.text" title="Type answer for question here..." placeholder="Type answer for question here..." cols="30" rows="10" required></textarea>
			</fieldset>
		</div>
		<div class="control-buttons">
			<input type="submit" class="btn btn-default pull-left" value="Post Your Answer">
		</div>
	</form>

</div>